body * {
  box-sizing: border-box;
}
nav{
  background: white;
  position: fixed;
  top: 0;
  width: 100vw;
  box-shadow: 0 13px 20px 0px #989898;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0 10%;
  font-family: 'Cairo', sans-serif;
  z-index: 10;
}

nav a{
  text-decoration: none;
  margin: 0 15px;
  color: black;
}

nav h1{
  font-weight: 100;
}

.images-container {
  padding-top: 80px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, 40vw);
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-auto-flow: row dense;
  position: relative;
}

.images-container img {
  margin: 15px;
  border-radius: 10px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.background img {
  max-width: 98vw;
  filter: blur(5px);
}

.single-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color: #00000079; */
  /* background: linear-gradient(45deg, #0000005c, #ffffff85); */
}


.single-image-container .back-back {
  position: absolute;
  top: 0;
  left: auto;
  top: auto;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  background-color: #000000c9;
}

.single-image-container img.back-image {
  position: absolute;
  top: 0;
  left: auto;
  top: auto;
  z-index: -1;
  filter: blur(10px);
  max-height: 100vh;
  max-width: 100vw;
}

.single-image-container img.main-image {
  border-radius: 10px;
  max-width: 60vw;
  max-height: 90vh;
  /* box-shadow: 0 10px 20px 3px #dedede6b; */
}

.main-page-image{
  max-width: 100vw;
  max-height: 100vh;
  display: block;
  margin: auto;
}

.main-page-container{
  /* background: #313131; */
}

@media screen and (max-width: 768px) {
  .images-container {
    grid-template-columns: repeat(auto-fit, 80vw);
    padding-top: 200px;
  }
  .main-page-image{
    padding-top: 100px;
  }
  nav{
    padding: 0;
    font-size: 10px;
    /* flex-direction: column; */
    /* padding: 10px; */
  }
  nav *{
    margin: 0;
    padding: 0;
  }

}